.aside {
    display: none;
}

@media only screen and (min-width: 391px) {
    /*desktop*/
    nav {
        margin-top: 12px;
        margin-left: 25px;
        margin-right: 25px;
        text-align: center;
    }

    nav ul li {
        margin-top: 16px;
        padding: 10px;
        border: 1px solid #373867;
        border-radius: 5px;
        background-color: white;
    }

    nav ul li a {
        text-decoration: none;
        font-weight: bold;
    }

    aside {
        background:#AACE9B;
        width: 305px;
        position: fixed;
        height: 100%;
    }

    .contact-information {
        margin-top: 450px;
    }

    .contact-information h2 {
        text-align: center;
        font-weight: bold;
        color: white;
        text-decoration: underline;
    }

    .contact-information ul {
        margin-top: 40px;
        margin-left: 28px;
    }

    .contact-information ul li {
        margin-top: 23px;
        color: #373867;
    }
  }