
header {
    /*mobile*/
    background:#373867;
    top: 0px;
    width:638px;
    height: 104px;
}

header img {
    width: 239px;
    height:56px;
    margin-top: 24px;
    margin-left: 10px;
}


@media only screen and (min-width: 391px) {
    /*desktop*/
    header {
        background:#373867;
        top: 0px;
        z-index: 3;
        width: 100%;
    }

    header img {
        padding: 30px;
    }
  }